.header {
  grid-area: header;
  background-color: rgb(33, 36, 33);
  padding: 10px;
  border-radius: 5px;
}

.logo {
  width: 70px;
}

.loginBlock {
  float: right;
  padding: 5px 10px;
}

.loginBtn, .profile {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}
