.nav {
    grid-area: nav;
    background-color: rgb(28, 81, 151);
    max-height: 510px;
    height: 510px;
    position: relative;
    border-radius: 5px;
}

.list {
    padding: 10px;
}

.item {
    margin: 15px;
    font-size: 23px;
}


.item:last-child,
.item:nth-child(5){
    margin-top: 50px;
}

.link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
}

.link.active {
    color: #a39c30;
}
