.item {
  margin: 35px 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.avatar {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.content{
  width: 100%;
  padding: 5px 10px;
  background-color: #ffffff;
  min-height: 20px;
  word-wrap:break-word;
}

.like{
  background-color: rgb(195, 216, 174);
  padding: 5px 50px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #27332a;
}


