

.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "header header "
  "nav content";
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  grid-area: header;
  background-color: rgb(33, 36, 33);
}

.nav-menu{
  grid-area: nav;
  background-color: rgb(28, 81, 151);
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;

}

.content {
  grid-area: content;
  background-color: rgb(221, 221, 214);
}

.content-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  margin-bottom: 10px;
}

.content-avatar {
  max-width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-logo{
  width: 100px;
}