.formWrapper.error input,
.formWrapper.error textarea{
    border: 1px solid #db2938;
}

.formInner {
    position: relative;
}

.formWarning {
    position: absolute;
    right: 0;
    top: 34px;
    padding: 2px 5px;
    background-color: #db2938;
    color: #000000;
    border-radius: 3px;
    font-size: 15px;
}

.formWarning.totalFormWarning {
    right: auto;
    top: auto;
    left: 20px;
    bottom: 25px;
}


/*.formWarning::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 1px;*/
/*    left: 15px;*/
/*    border: 9px solid transparent;*/
/*    border-top: 9px solid #db2938;*/
/*    transform: translateY(100%);*/
/*}*/


